## インデクスとデータの選択

In [1]:
import pandas as pd

### Seriesのデータ選択
#### 辞書としてのSeries

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                            index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [3]:
data['b']

0.5

In [4]:
# Pythonの辞書的な式やメソッドでキー（インデクス）と値を調べることができる
'a' in data

True

In [5]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [7]:
# 新しいインデクスに値を割り当てるとSeriesが拡張される
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

#### １次元配列としてのSeries
スライス、マスク、ファンシーインデクスなどのNumPy配列と同じ基本的な機能を使った選択手段を提供している。

In [8]:
# 明示的なインデクスによるスライス
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [9]:
# 間接的な整数インデクスによるスライス
data[0:2]

a    0.25
b    0.50
dtype: float64

In [10]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [11]:
# ファンシーインデクス
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

#### インデクス属性：loc, iloc, ix

In [12]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [13]:
# 明示的なインデクス指定
data[1]

'a'

In [14]:
# スライスの場合の、間接的な指定
data[1:3]

3    b
5    c
dtype: object

In [15]:
# locを使用すると明示的なインデクスを使用したスライスが可能
data.loc[1]

'a'

In [16]:
data.loc[1:3]

1    a
3    b
dtype: object

In [17]:
# iloc属性は間接的なPythnスタイルのインデクスを使ったインデクスとスライスを可能にする
data.iloc[1]

'b'

In [18]:
data.iloc[1:3]

3    b
5    c
dtype: object

In [19]:
data.ix[1]

/Users/takizawatakafumi/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

'a'

### DataFrameのデータ選択
#### 辞書としてのDataFrame

In [20]:
area = pd.Series({'California': 423967,
                      'Texas': 695662,
                      'New York': 141297,
                      'Florida': 170312,
                      'Illinois': 149995})
pop = pd.Series({'California': 38332521,
                                  'Texas': 26448193,
                                  'New York': 19651127,
                                  'Florida': 19552860,
                                  'Illinois': 12882135})
data = pd.DataFrame({'area': area, 'pop': pop})
data

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135
New York    141297  19651127
Texas       695662  26448193

In [21]:
# DataFrameの列を構成する各Seriesには、列名の辞書形式のインデクスでアクセスできる
data['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [22]:
# 文字列の列名の場合は、属性形式でアクセスできる
data.area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [23]:
# 属性形式のアクセスは、辞書形式のアクセスと同じオブジェクトを返す
data.area is data['area']

True

In [24]:
# DataFrameメソッドとの名前衝突に注意
data.pop is data['pop']

False

特に、属性を介した列への代入は避ける。<br>
data.pop = zではなく、data['pop'] = zを使用する。

In [25]:
# 辞書スタイル構文を使用してオブジェクトを変更できる
# 人口密度（density）を新しい列として追加しています
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

#### ２次元配列としてのDataFrame

In [26]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01]])

In [27]:
# DataFrame全体を転置（行と列を入れ替える）
data.T

           California       Florida      Illinois      New York         Texas
area     4.239670e+05  1.703120e+05  1.499950e+05  1.412970e+05  6.956620e+05
pop      3.833252e+07  1.955286e+07  1.288214e+07  1.965113e+07  2.644819e+07
density  9.041393e+01  1.148061e+02  8.588376e+01  1.390767e+02  3.801874e+01

In [28]:
# 配列形式に対してインデクスを１つ指定すると行が返る
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [29]:
# DataFrameにインデクスを１つ指定すると列が返る
data['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [30]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [31]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [32]:
# ixは２つの組み合わせを可能にする
# pandas0.20よりDeprecated（非推奨）、必要に応じて、locまたはilocの使用が推奨されている
data.ix[:3, :'pop']

/Users/takizawatakafumi/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  app.launch_new_instance()

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [33]:
# locを使用すると、マスクとファンシーインデクスを組み合わせることができる
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
Florida   19552860  114.806121
New York  19651127  139.076746

In [34]:
# これらのインデクス規則を利用して値を設定・変更することもできる
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

#### その他のインデクス規則

In [35]:
# インデクスは列を参照するが、スライスは行を参照する
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [36]:
# 番号で指定することもできる
data[1:3]

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [37]:
# 同様にマスキング操作も列ではなく行に対して適用される
data[data.density > 100]

            area       pop     density
Florida   170312  19552860  114.806121
New York  141297  19651127  139.076746